@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #ff48a5;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #000;
  color: #ff48a5;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers{
  margin: 0px 15px 20px 15px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}

#results {
 margin: 0px 15px 20px 15px;
  text-align: center;
  display: inline-block;
}

#next:disabled {
  opacity: .6;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #000;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
    cursor: pointer;
    margin-top: 5%;
	margin-bottom: 20px;
}
button:hover{
	background-color: #ff48a5;
}
.reloadquiz {
    margin-top: 20%;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
  
}

.quiznav {
    margin-top: 32px;
}

button#submit {
    margin-top: 2px;
    margin-bottom: 10px;

}

@media only screen and (max-width: 1023px){
    .quiznav{
        margin-top: 130px;
    }

    button#reload {
        margin-top: 5%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 680px){
.quiznav {
    margin-top: 130px;
}
.reloadquiz{
    margin-top: 30%;
}

}

@media only screen and (max-width: 555px){
    .quiznav {
        margin-top: 213px;
    }
    .reloadquiz{
        margin-top: 40%;
    }
    
    }

